*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.text{
    width: 1440px;
height: 308px;
display: flex;
align-items: flex-end;
justify-content: center;
font-size: 130px;
}
header{
    width: 100%;
height: 427px;
background-color: #2A2A2A;
}
h1{
    color: black;
}
b{
    color: #00BFFF;
}
body {
  margin: 0;
  background: #0f1720;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  max-width: 1300px;
  margin: auto;
  margin-top: 10px;
  flex-wrap: wrap;
}

h1 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
  gap: 20px;
}

.movie-card {
  width: 244px;
  height: 368px;
  border-radius: 10px;
  overflow: hidden;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0,0,0,0.6);
}

.movie-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}


.movie-info {
  padding: 10px;
}

.movie-info h3 {
  margin: 0;
  font-size: 17px;
}

.movie-info span {
  display: block;
  margin-top: 4px;
  opacity: 0.8;
}
input{
width: 200px;
height: 39px;
border-radius: 5px;

}

select{
width: 101px;
height: 39px;
border-radius: 5px;
}

button{
width: 70.69999694824219px;
height: 39px;
border-radius: 5px;
border: none;
background-color: #D9534F;
color: #fff;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 119px; */
    gap: 20px;
}
